*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    outline: 0;
}
body{
    background-color: #000524;
}
header{
    width: 100%;
    display: block;
    padding: 18px;
    height: 120px;
    background-color: #000524;
    position: fixed;
    box-shadow: 0 0 8px #000524;
}
#header_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    margin-bottom: 0;
}
#header_1, #header_2{
    height: 50%;
}

header h2{
    font-family: 'Rowdies';
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
}

header #boton_busqueda{
    height: 25px;
    margin-right: 8px;
    cursor: pointer;
}
#barra_busqueda{
    background-color: #101f78;
    border-radius: 4px;
    width: 300px;
    height: 35px;
    animation: 0.6s anim-barra_busqueda;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
    transition: 0.2s width ease-in-out, 0.2s background-color ease-in-out;
}
@keyframes anim-barra_busqueda{
    0%{
        width: 10px;
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
    100%{
        width: 300px;
    }
}
#barra_busqueda::placeholder{
    color: #ffffff;
    font-family: 'Wix Madefor Text';
    font-weight: 500;
}
#barra_busqueda:focus{
    background-color: #1c31a5;
    width: 370px;
    transition: 0.2s;
}


#header_2 nav{
    height: 35px;
    margin-left: 5px;
    width: 200px;
    display: flex;
    align-items: center;
    
}
#header_2 nav a{
    background-color: #101f78;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    height: 100%;
    margin: 4px;
    color: white;
    font-family: 'Quicksand';
    font-weight: 300;
    text-align: center;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    
}
#header_2 nav #ingresar_button{
    padding: 5px;
}
#header_2 nav #ingresar_button_text{
    font-family: 'Quicksand';
    font-weight: 300;
    font-size: 0;
    transition: 0.2s font-size ease-in-out, 0.2s padding ease-in-out;
}
#header_2 nav #ingresar_button:hover #ingresar_button_text{
    font-size: 15px;
    padding-left: 10px;
    padding-right: 15px;
    transition: 0.2s;
}

/* CAJA PRINCIPAL */

.caja_principal{
    
    width: 100%;
    padding-top: 100px;
}
.destacados{
    width: 85%;
    margin: 20px auto;
}
.destacados div{
    display: flex;
}
.destacados div article{
    width: 20%;
    background-color: #020f59;
    margin: 5px;
    height: 290px;
    transition: 0.1s box-shadow ease-in-out;
    user-select: none;
    cursor: pointer;
}
.destacados div article:hover{
    box-shadow: 0 0 9px #1c31a5;
    transition: 0.1s box-shadow;
}
.destacados #prod_img{
    height: 65%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.destacados #prod_detalles{
    height: 35%;
    width: 100%;
    background-color: #000524;
    padding: 8px;
    border: 4px solid #020f59;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.destacados #prod_detalles h5{
    color: white;
    font-family: 'Quicksand';
    font-size: 1.5rem;
    font-weight: 600;
}
.destacados #prod_detalles h3{
    color: white;
    font-family: 'Quicksand';
    font-size: 0.8rem;
    font-weight: 100;
}


.img_principal{
    width: 100%;
    height: 70vh;
    margin: auto;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4s ease-in-out background-position, 0.4s ease-in-out width;
    padding: 7px;
}
.img_principal article:hover{
    
    transition: 0.4s;
}
#text_categoria{
    color: white;
    font-family: 'Wix Madefor Text';
    font-size: 3rem;
    margin: 30px;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 0 0 4px black;
    
}
#description_categoria{
    color: white;
    text-shadow: 0 0 4px black;
    font-family: 'Exo';
    font-size: 1.25rem;
    font-weight: 300;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;

}

footer{
    background-color: #020f59;
    padding: 30px;
    width: 100%;
}
footer h2{
    font-family: 'Quicksand';
    color: white;
    font-size: 17px;
    text-align: center;
}

@media screen {
    @media (max-width: 750px){
        header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 40px;
        }
        #header_1 h2{
            font-size: 2.5rem;
        }
        #header_2 img{
            height: 30px;
        }
        #header_2 form,
        #header_2 nav{
            display: none;
        }
        .img_principal{
            height: 70vh;
            display: block;

        }
        #text_categoria{
            display: flex;
            align-items: end;
            height: 50%;
            text-shadow: 0 0 25px black;
            font-size: 45px;
        }
        #description_categoria{
            text-shadow: 0 0 25px black;
            font-size: 22px;
            height: 50%;
            width: 70%;
            margin: auto;
            display: flex;
        }
        .destacados{
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .destacados div{
            display: block;
            margin: 0;
            width: 100%;
        }
        .destacados div article{
            width: 100%;
            margin: 0;
            margin-bottom: 12px;
            height: 45vh;
        }
        #prod_detalles h5{
            font-size: 7rem;
        }
    }
}